<ui-braintree-subscription-progress subscription-plan="$ctrl.customer.subscriptionPlan" subscription-route="$ctrl.routes.subscription"></ui-braintree-subscription-progress>

<h2 class="Heading--two">Choose your payment method</h2>
<hr class="Divider--dotted">

<button class="Button Button--primary Button--lg" ng-click="$ctrl.choosePaymentMethod('cards')">Credit or Debit card</button>
<button class="Button Button--primary Button--lg" ng-click="$ctrl.choosePaymentMethod('paypal')">Paypal</button>
