<ui-braintree-subscription-progress subscription-plan="$ctrl.selectedSubscription"></ui-braintree-subscription-progress>
<ui-braintree-subscription-navigation route-to="$ctrl.routeTo(route)" selected-route="'/subscribe'"></ui-braintree-subscription-navigation>


<p ng-if="$ctrl.message" ng-bind="$ctrl.message"></p>
<ui-loading-icon size="'4x'" icon-modifier="'circle-o-notch'" visible="$ctrl.state.loading" text="$ctrl.loadingText"></ui-loading-icon>


<section class="Panel" ng-if="$ctrl.plans.length">
	<div class="Panel-body">
		<h2 class="Heading--two Heading--light u-textCenter">Select a subscription plan</h2>
		<hr class="Divider--dotted">

		<div class="Grid-row Grid-row--alignRight">
			<div class="Grid-col--12">
				<div class="Form-item" ng-if="$ctrl.merchantAccountsArray.length">
					<label class="Form-itemLabel">Currency

					                              <!--<select name="selectedCurrency" id="selectedCurrency"-->
					                              <!--class="Selectbox"-->
					                              <!--ng-change="$ctrl.showSelectedCurrencyPlans()"-->
					                              <!--ng-model="$ctrl.state.selectedCurrency"-->
					                              <!--ng-options="merchantAccount.name as merchantAccount.currencyName for merchantAccount in $ctrl.merchantAccountsArray track by merchantAccount.id">-->
					                              <!--</select>-->

						<select name="selectedCurrency" id="selectedCurrency"
						        class="Selectbox"
						        ng-change="$ctrl.showSelectedCurrencyPlans($ctrl.state.selectedCurrencyModel)"
						        ng-model="$ctrl.state.selectedCurrencyModel">
							<option value="jivaroUSD" ng-selected="$ctrl.selectedMerchantAccount.id === 'jivaroUSD'">US Dollar (USD)</option>
							<option value="jivaroEUR" ng-selected="$ctrl.selectedMerchantAccount.id === 'jivaroEUR'">EUR (EUR)</option>
							<option value="jivaroGBP" ng-selected="$ctrl.selectedMerchantAccount.id === 'jivaroGBP'">British Pound (GBP)</option>
							<option value="jivaroISK" ng-selected="$ctrl.selectedMerchantAccount.id === 'jivaroISK'">Icelandic Krona (ISK)</option>
						</select>

					</label>
				</div>
				<hr class="Divider--dotted">
			</div>
		</div>

		<div class="Grid-row">
			<div class="Grid-col--4 CustomPlan-col--premiumThree">
				<div class="Panel">
					<header class="CustomPlan-panelHeader">
						<h2 class="CustomPlan-panelHeading">
							<span ng-if="$ctrl.plansDisplayed.premiumThree.customPlanTitle" ng-bind="$ctrl.plansDisplayed.premiumTwelve.customPlanTitle"></span>
							<span ng-if="!$ctrl.plansDisplayed.premiumThree.customPlanTitle">&nbsp;</span>
						</h2>
					</header>
					<div class="CustomPlan-panelBody">
						<ui-braintree-subscription-plan
							button-css-modifier="'Button--primary Button--lg'"
							button-text="'Select plan'"
							currency="$ctrl.state.selectedCurrency"
							subscription-plan="$ctrl.plansDisplayed.premiumThree"
							item-css-class="'u-textCenter'"
							format-currency-amount="$ctrl.formatCurrencyAmount(amount, currencyIsoCode)"
							on-choose="$ctrl.chooseSubscriptionPlan(subscriptionPlanModel)" ng-hide="$ctrl.state.loading"></ui-braintree-subscription-plan>
					</div>
				</div>
			</div>

			<div class="Grid-col--4 CustomPlan-col--premiumSix">
				<div class="Panel">
					<header class="CustomPlan-panelHeader">
						<h2 class="CustomPlan-panelHeading">
							<span ng-if="$ctrl.plansDisplayed.premiumSix.customPlanTitle" ng-bind="$ctrl.plansDisplayed.premiumTwelve.customPlanTitle"></span>
							<span ng-if="!$ctrl.plansDisplayed.premiumSix.customPlanTitle">Most popular</span>
						</h2>
					</header>
					<div class="CustomPlan-panelBody">
						<ui-braintree-subscription-plan
							button-css-modifier="'Button--success Button--lg'"
							button-text="'Select plan'"
							currency="$ctrl.state.selectedCurrency"
							subscription-plan="$ctrl.plansDisplayed.premiumSix"
							item-css-class="'u-textCenter'"
							format-currency-amount="$ctrl.formatCurrencyAmount(amount, currencyIsoCode)"
							on-choose="$ctrl.chooseSubscriptionPlan(subscriptionPlanModel)" ng-hide="$ctrl.state.loading">
						</ui-braintree-subscription-plan>
					</div>
				</div>
			</div>

			<div class="Grid-col--4 CustomPlan-col--premiumTwelve">
				<div class="Panel">
					<header class="CustomPlan-panelHeader">
						<h2 class="CustomPlan-panelHeading">
							<span ng-if="$ctrl.plansDisplayed.premiumTwelve.customPlanTitle" ng-bind="$ctrl.plansDisplayed.premiumTwelve.customPlanTitle"></span>
							<span ng-if="!$ctrl.plansDisplayed.premiumTwelve.customPlanTitle">&nbsp;</span>
						</h2>
					</header>
					<div class="CustomPlan-panelBody">
						<ui-braintree-subscription-plan
							button-css-modifier="'Button--primary Button--lg'"
							button-text="'Select plan'"
							currency="$ctrl.state.selectedCurrency"
							subscription-plan="$ctrl.plansDisplayed.premiumTwelve"
							item-css-class="'u-textCenter'"
							format-currency-amount="$ctrl.formatCurrencyAmount(amount, currencyIsoCode)"
							on-choose="$ctrl.chooseSubscriptionPlan(subscriptionPlanModel)" ng-hide="$ctrl.state.loading"></ui-braintree-subscription-plan>
					</div>
				</div>
			</div>
		</div>

		<!--<hr class="Divider&#45;&#45;dotted">-->
		<!--<div class="Grid-row Grid-row&#45;&#45;alignCenter">-->
		<!--<div class="Grid-col&#45;&#45;12 ">-->
		<!--<h3 class="Heading&#45;&#45;three Heading&#45;&#45;light">Premium for life?</h3>-->
		<!--<h4 class="Heading&#45;&#45;five">Lifetime licence</h4>-->
		<!--<h5 class="Heading&#45;&#45;three u-textWarning mb&#45;&#45;0">{{ $ctrl.state.selectedCurrency.currencySymbol }}{{ $ctrl.plansDisplayed.premiumLifetime.price }}</h5>-->
		<!--<p class="mt&#45;&#45;0">One time payment</p>-->
		<!--<button class="Button Button&#45;&#45;cta Button&#45;&#45;lg" ng-click="$ctrl.chooseSubscriptionPlan($ctrl.plansDisplayed.premiumLifetime)">-->
		<!--Go All In!-->
		<!--</button>-->
		<!--</div>-->
		<!--</div>-->

		<hr class="Divider--dotted">

		<div class="Grid-row Grid-row--alignCenter CustomPlan-row--premiumOne">
			<div class="Grid-col--12">
				<p>or<br> pay monthly<br>
					<button class="Button Button--secondary" ng-click="$ctrl.chooseSubscriptionPlan($ctrl.plansDisplayed.premiumOne)">
						{{ $ctrl.formatCurrencyAmount($ctrl.plansDisplayed.premiumOne.price, $ctrl.plansDisplayed.premiumOne.currencyIsoCode) }}
						/ month
					</button>
				</p>
			</div>
		</div>
	</div>
</section>
