<h1 class="Heading--one">Braintree module</h1>
<hr class="Divider--dotted">
<ul class="Nav Nav--tabs">
	<li class="Nav-item">
		<a class="Nav-link" ng-link="['./Subscription']">Subscription</a>
	</li>
	<li class="Nav-item">
		<a class="Nav-link" ng-link="['./Customer']">Customer</a>
	</li>
	<li class="Nav-item">
		<a class="Nav-link" ng-link="['./Cards']">Credit & debit cards</a>
	</li>
	<li class="Nav-item">
		<a class="Nav-link" ng-link="['./Dropin']">Drop-in</a>
	</li>
</ul>

<ng-outlet></ng-outlet>

