<h1 class="Heading--one">Braintree module</h1>
<hr class="Divider--dotted">

<label>
	<input type="checkbox" ng-click="$ctrl.initFlowMode()" ng-model="$ctrl.state.enableWizardMode"> Subscription wizard mode enabled
</label>
<p>
	<small>Note: Enable this to prevent going to other parts without choosing a the previous step.</small>
</p>

<div class="Page">
	<nav class="Page-aside--left">
		<ul class="Nav Nav--vertical">
			<li class="Nav-item">
				<a class="Nav-link" ng-click="$ctrl.routeTo('/customer-details')">Customer details</a>
			</li>
			<li class="Nav-item">
				<a class="Nav-link" ng-click="$ctrl.routeTo('/subscribe')">Subscribe</a>
			</li>
			<li class="Nav-item">
				<a class="Nav-link" ng-click="$ctrl.routeTo('/customer')">Create Customer</a>
			</li>
			<li class="Nav-item">
				<a class="Nav-link" ng-click="$ctrl.routeTo('/cards')">Pay with Credit or Debit Card</a>
			</li>
			<li class="Nav-item">
				<a class="Nav-link" ng-click="$ctrl.routeTo('/paypal')">Pay with Paypal</a>
			</li>
			<li class="Nav-item">
				<a class="Nav-link" ng-click="$ctrl.routeTo('/drop-in')">Drop-in</a>
			</li>
		</ul>
	</nav>
	<main class="Page-main">
		<div ng-view=""></div>
	</main>
</div>



