/********************************************
	CustomerDetails Component
********************************************/
/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @lego--modifier-property ex: @button--warning-borderColor
// @lego--modifier-descendant-property ex: @listGroup-itemHeading-fontSize

// -------------------- Variables --------------------
// -------------------- Core LEGO --------------------
.CustomerDetails {
}

// -------------------- Modifiers ----------------------
.CustomerDetails--someModifier {
}

// -------------------- Descendants --------------------
.CustomerDetails-someDescendant {
}

// -------------------- States -------------------------
.CustomerDetails-paymentMethodColumn {
	&.is-default {
		border:1px solid green;
		background: rgba(255, 255, 255, .5);
		border-radius: 4px;

		.Button {
			.buttonVariant(@button--success-color, @button--success-backgroundColor);
		}
	}

}
