<section ng-class="{'error': $ctrl.isError, 'success': $ctrl.isPaid}">
	<h2 class="Heading--two">Please use the form below to pay:</h2>
	<p ng-if="$ctrl.message" ng-bind="$ctrl.message"></p>

	<div ng-show="$ctrl.showDropinContainer">

		<form name="payment">
			<div class="Form-item">
				<label class="Form-itemLabel" for="txtAmount">Amount (XX.XX)</label>
				<input type="text" class="Textbox" id="txtAmount" ng-model="$ctrl.amount" />
			</div>

			<!-- Add Dropin here -->
			<div id="js-braintree-checkout-container"></div>

			<button class="Button Button--success Button--lg" type="submit">Pay Now</button>
		</form>
	</div>

</section>
