<h2 class="Heading--two">Subscribe</h2>
<hr class="Divider--dotted">

<p ng-if="$ctrl.state.showMessage" ng-bind="$ctrl.message"></p>

<div class="u-textCenter m--4" ng-if="$ctrl.state.loading">
	<i class="fa fa-circle-o-notch fa-spin fa-4x"></i>
</div>
<div ng-repeat="plan in $ctrl.plans" ng-if="$ctrl.state.showPlans && $ctrl.plans.length">

	<ui-braintree-subscription-plan subscription-plan="plan" on-choose="$ctrl.chooseSubscriptionPlan(subscriptionPlanModel)"></ui-braintree-subscription-plan>
	<hr class="Divider--dotted">
</div>

<ui-braintree-customer on-create-customer="$ctrl.createCustomer(customerModel)" ng-if="$ctrl.state.showCustomerForm"></ui-braintree-customer>

<ui-braintree-creditcard on-process-payment="$ctrl.createVaultedPayment(paymentModel)" ng-if="$ctrl.state.showCreditCardForm"></ui-braintree-creditcard>

<section ng-if="$ctrl.state.showConfirmPanel">
	<h2>Verify</h2>
	<button class="Button Button--success Button--lg" ng-click="$ctrl.confirmSubscription()">Confirm subscription</button>
</section>
