<h4 class="Heading--four">{{ $ctrl.subscription.plan.name}} / {{ $ctrl.subscription.plan.description}}</h4>
<div class="Form-item">
	<label class="Form-itemLabel">Status</label>
	<strong ng-class="{
	'u-textSuccess' : $ctrl.subscription.status.toLowerCase() === 'active',
	'u-textDanger' : $ctrl.subscription.status.toLowerCase() === 'canceled',
	'u-textWarning' : $ctrl.subscription.status.toLowerCase() === 'pastdue',
	'u-textWarning' : $ctrl.subscription.status.toLowerCase() === 'pending'
	}">
		<span ng-if="$ctrl.subscription.status.toLowerCase() !== 'active'" ng-bind="$ctrl.subscription.status"></span>
		<span ng-if="$ctrl.subscription.price > 0 && $ctrl.subscription.status.toLowerCase() === 'active'" ng-bind="$ctrl.subscription.status"></span>
		<span ng-if="$ctrl.subscription.price <= 0 && $ctrl.subscription.status.toLowerCase() === 'active'" class="u-textWarning">{{ $ctrl.subscription.status }} <span class="u-textBase u-textNormal">( Auto renew disabled )</span></span>
	</strong>
</div>
<div class="Form-item">
	<label class="Form-itemLabel">Billing amount</label>
	{{ $ctrl.formatCurrencyAmount({amount: $ctrl.subscription.price, currencyIsoCode: $ctrl.subscription.plan.currencyIsoCode}) }}
</div>
<div class="Form-item">
	<label class="Form-itemLabel">Next billing amount</label>
	{{ $ctrl.formatCurrencyAmount({amount: $ctrl.subscription.nextBillAmount, currencyIsoCode: $ctrl.subscription.plan.currencyIsoCode}) }}
</div>
<div class="Form-item">
	<label class="Form-itemLabel">Next billing period amount</label>
	{{ $ctrl.formatCurrencyAmount({amount: $ctrl.subscription.nextBillingPeriodAmount, currencyIsoCode: $ctrl.subscription.plan.currencyIsoCode}) }}
</div>
<div class="Form-item">
	<label class="Form-itemLabel">Started</label>
	{{ $ctrl.subscription.createdAt | date: longDate }}
</div>
<div class="Form-item">
	<label class="Form-itemLabel">Next billing date</label>
	{{ $ctrl.subscription.nextBillingDate | date: longDate }}
</div>
