<div class="{{ $ctrl.itemCssClass }}">
	<header class="HeadingGroup">
		<h3 class="Heading--four mb--1">
			<span ng-bind="$ctrl.subscriptionPlan.name"></span>
		</h3>
		<h4 class="Heading--seven Heading--light mt--0" ng-if="!$ctrl.subscriptionPlan.offerPrice">
			{{ $ctrl.formatCurrencyAmount({amount: $ctrl.subscriptionPlan.price, currencyIsoCode: $ctrl.subscriptionPlan.currencyIsoCode}) }}
		</h4>
		<h4 class="Heading--seven Heading--light mt--0" ng-if="$ctrl.subscriptionPlan.offerPrice">
			<span class="u-textStrikeThrough u-textDanger">
				{{ $ctrl.formatCurrencyAmount({amount: $ctrl.subscriptionPlan.price, currencyIsoCode: $ctrl.subscriptionPlan.currencyIsoCode}) }}
			</span><br>
			{{ $ctrl.formatCurrencyAmount({amount: $ctrl.subscriptionPlan.offerPrice, currencyIsoCode: $ctrl.subscriptionPlan.currencyIsoCode}) }}
		</h4>
	</header>
	<hr class="Divider--dotted">
	<h4 class="Heading--four u-textSuccess mb--0" ng-if="!$ctrl.subscriptionPlan.offerPrice">
		{{ $ctrl.formatCurrencyAmount({amount: ($ctrl.subscriptionPlan.price / $ctrl.subscriptionPlan.billingFrequency), currencyIsoCode: $ctrl.subscriptionPlan.currencyIsoCode}) }}
	</h4>
	<h4 class="Heading--four u-textSuccess mb--0" ng-if="$ctrl.subscriptionPlan.offerPrice">
		<small>
			<span class="u-textStrikeThrough u-textDanger">
				{{ $ctrl.formatCurrencyAmount({amount: ($ctrl.subscriptionPlan.price / $ctrl.subscriptionPlan.billingFrequency), currencyIsoCode: $ctrl.subscriptionPlan.currencyIsoCode}) }}
			</span>
		</small>
		<br>
		{{ $ctrl.formatCurrencyAmount({amount: ($ctrl.subscriptionPlan.offerPrice / $ctrl.subscriptionPlan.billingFrequency), currencyIsoCode: $ctrl.subscriptionPlan.currencyIsoCode}) }}
	</h4>
	<p class="mt--0">/{{ 'subscription.label.MONTH' | translate }}</p>
	<button class="Button {{ $ctrl.buttonCssModifier }}"
	        ng-click="$ctrl.onChoose({subscriptionPlanModel: $ctrl.subscriptionPlan})"
	        ng-disabled="$ctrl.buttonDisabled">{{ $ctrl.buttonText }}
	</button>
</div>
