<ui-braintree-subscription-progress
	subscription-plan="$ctrl.selectedSubscription"
	subscription-route="$ctrl.routes.subscription"
	format-currency-amount="$ctrl.formatCurrencyAmount(amount, currencyIsoCode)"
	route-to="$ctrl.routeTo(route)">
</ui-braintree-subscription-progress>
<ui-braintree-subscription-navigation
	route-to="$ctrl.routeTo(route)"
	selected-route="'/payment-methods'"
	ng-if="$ctrl.state.mode.subscription">
</ui-braintree-subscription-navigation>

<ui-braintree-message-box message="$ctrl.state.message" on-route="$ctrl.routeTo(route)"></ui-braintree-message-box>

<ui-loading-icon size="'4x'" icon-modifier="'circle-o-notch'" visible="$ctrl.state.loading.isLoading" text="$ctrl.state.loading.text"></ui-loading-icon>

<section class="Panel" ng-hide="$ctrl.state.loading.isLoading || !$ctrl.state.showForm">
	<div class="Panel-body">
		<h2 class="Heading--two Heading--light u-textCenter" translate="payment.heading.FILL_OUT_YOUR_CARD_DETAILS"></h2>
		<hr class="Divider--dotted">

		<ui-braintree-creditcard-form
			on-submit="$ctrl.submitPayment(paymentModel)"
			back-button-text="$ctrl.state.backButtonText"
			back-button-route="$ctrl.state.backButtonRoute"
			back-button-visible="$ctrl.state.backButtonVisible"
			submit-button-text="$ctrl.state.submitButtonText"
			hide-amount="$ctrl.state.hideAmount"
			route-to="$ctrl.routeTo(route)"
			merchant-accounts="$ctrl.merchantAccountsArray"
			selected-merchant-account="$ctrl.selectedMerchantAccount"
			ng-hide="$ctrl.state.loading.isLoading || !$ctrl.state.showForm">
		</ui-braintree-creditcard-form>
	</div>
</section>
