<section ng-class="{'error': vm.isError, 'success': vm.isPaid}">

	<span><p ng-bind="vm.message"></p></span>

	<div ng-show="vm.showForm">

		<form name="payment" id="js-customPayment">
			<label>Amount (XX.XX)</label>
			<input type="text" ng-model="vm.amount" />
			<br>

			<label>Credit Card Number (XXXX XXXX XXXX XXXX)</label>
			<input type="text" data-braintree-name="number" ng-model="vm.creditCardNumber"/>
			<br>

			<label>Expiration Date (MM/YY)</label>
			<input type="text" data-braintree-name="expiration_date" ng-model="vm.expirationDate"/>
			<br>
			<input data-braintree-name="cvv" value="100" ng-model="vm.cvv">
			<br>

			<button type="submit">Pay Now</button>
		</form>

		<button type="button" ng-click="vm.usePaypal($event)">Pay with paypal</button>
	</div>

</section>
