<ul class="Nav Nav--tabs">
	<li class="Nav-item" ng-class="{'is-active': $ctrl.selectedRoute === 'Subscription'}">
		<a class="Nav-link" ng-link="['Subscription']">1. Subscription plan</a>
	</li>
	<li class="Nav-item" ng-class="{'is-active': $ctrl.selectedRoute === 'Customer'}">
		<a class="Nav-link" ng-link="['Customer']">2. Customer information</a>
	</li>
	<li class="Nav-item" ng-class="{'is-active': $ctrl.selectedRoute === 'Cards'}">
		<a class="Nav-link" ng-link="['Cards']">3. Payment method</a>
	</li>
</ul>
