<ul class="Nav Nav--tabs">
	<li class="Nav-item" ng-class="{'is-active': $ctrl.selectedRoute === '/subscribe'}">
		<a class="Nav-link" href="" ng-click="$ctrl.routeTo({route: '/subscribe'})">1. Subscription plan</a>
	</li>
	<li class="Nav-item" ng-class="{'is-active': $ctrl.selectedRoute === '/customer'}">
		<a class="Nav-link" href="" ng-click="$ctrl.routeTo({route: '/customer'})">2. Customer information</a>
	</li>
	<li class="Nav-item" ng-class="{'is-active': $ctrl.selectedRoute === '/payment-methods'}">
		<a class="Nav-link" href="" ng-click="$ctrl.routeTo({route: '/payment-methods'})">3. Payment method</a>
	</li>
</ul>
