<ui-braintree-subscription-progress
	subscription-plan="$ctrl.customer.subscriptionPlan"
	subscription-route="$ctrl.routes.subscription"
	route-to="$ctrl.routeTo(route)">
</ui-braintree-subscription-progress>


<h2 class="Heading--two">Paypal</h2>
<p ng-if="$ctrl.state.message.text" ng-bind="$ctrl.state.message.text"></p>
<input type="hidden" name="payment_method_nonce" />

<button class="Button Button--primary" ng-click="$ctrl.pay($event)">Connect with Paypal...</button>
<span ng-if="$ctrl.state.backButtonVisible">
	| <a href="" ng-click="$ctrl.routeTo($ctrl.state.backButtonRoute)">{{ $ctrl.state.backButtonText }}</a>
</span>
