<ui-braintree-subscription-progress subscription-plan="$ctrl.customer.subscriptionPlan"></ui-braintree-subscription-progress>

<h2 class="Heading--two">Subscribe</h2>
<hr class="Divider--dotted">
<ui-braintree-subscription-navigation selected-route="'/subscribe'"></ui-braintree-subscription-navigation>

<p ng-if="$ctrl.message" ng-bind="$ctrl.message"></p>

<ui-loading-icon size="'4x'" icon-modifier="'circle-o-notch'" visible="$ctrl.state.loading" text="$ctrl.loadingText"></ui-loading-icon>

<section class="Panel">
	<div class="Panel-body">
		<div class="Grid-row">
			<div class="Grid-col--4" ng-repeat="plan in $ctrl.plans" ng-if="$ctrl.plans.length">
				<ui-braintree-subscription-plan
					button-css-modifier="'Button--cta Button--lg'"
					button-text="'Select plan'"
					subscription-plan="plan"
					on-choose="$ctrl.chooseSubscriptionPlan(subscriptionPlanModel)" ng-hide="$ctrl.state.loading"></ui-braintree-subscription-plan>
				<hr class="Divider--dotted">
			</div>
		</div>
	</div>
</section>
