<div>
	<div class="Grid-row">
		<div class="Grid-col--6">

			<section class="Panel">
				<h3 class="Panel-heading Heading--three">Profile</h3>
				<div class="Panel-body">
					<div class="Form-item">
						<label class="Form-itemLabel">Full name</label>
						<span ng-bind="$ctrl.customer.firstName"></span> <span ng-bind="$ctrl.customer.lastName"></span>
					</div>
					<div class="Form-item">
						<label class="Form-itemLabel">Email</label>
						<span ng-bind="$ctrl.customer.email"></span>
					</div>
				</div>
			</section>

		</div>
		<div class="Grid-col--6">
			<section class="Panel" ng-if="$ctrl.customer.subscriptions">
				<h3 class="Panel-heading Heading--three">Subscriptions</h3>
				<div class="Panel-body">
					<div ng-repeat="subscription in $ctrl.customer.subscriptions">
						<div class="Form-item">
							<label class="Form-itemLabel">Type</label>
							{{ subscription.plan.name}} / {{ subscription.plan.description}}
						</div>
						<div class="Form-item">
							<label class="Form-itemLabel">Status</label>
							{{ subscription.status}}
						</div>
						<div class="Form-item">
							<label class="Form-itemLabel">Billing price</label>
							${{ subscription.price}}
						</div>
						<div class="Form-item">
							<label class="Form-itemLabel">Started</label>
							{{ subscription.createdAt | date: longDate }}
						</div>
						<div class="Form-item">
							<label class="Form-itemLabel">Next billing date</label>
							{{ subscription.nextBillingDate | date: longDate }}
						</div>
						<hr class="Divider--dotted">
					</div>
			</section>

		</div>
	</div>

</div>
