<div>
	<div class="Grid-row">
		<div class="Grid-col--12">

			<section class="Panel">
				<h3 class="Panel-heading Heading--three">Profile</h3>
				<div class="Panel-body">
					<div class="Form-item">
						<label class="Form-itemLabel">Full name</label>
						<span ng-bind="$ctrl.customer.firstName"></span> <span ng-bind="$ctrl.customer.lastName"></span>
					</div>
					<div class="Form-item">
						<label class="Form-itemLabel">Email</label>
						<span ng-bind="$ctrl.customer.email"></span>
					</div>
				</div>
			</section>

		</div>
	</div>
	<div class="Grid-row">

		<div class="Grid-col--12">
			<section class="Panel" ng-if="$ctrl.customer.subscriptions">
				<h3 class="Panel-heading Heading--three">Subscriptions</h3>
				<div class="Panel-body">
					<div ng-repeat="subscription in $ctrl.customer.subscriptions">
						<ui-braintree-subscription-details subscription="subscription"></ui-braintree-subscription-details>

						<button type="button" class="Button Button--primary Button--lg" ng-link="[$ctrl.editButtonRoute]">{{ $ctrl.editButtonText }}</button>
						<a ng-link="[$ctrl.cancelButtonRoute]">{{ $ctrl.cancelButtonText }}</a>

						<div class="Divider--dotted"></div>
						<h4 class="Heading--four">Payment method</h4>
						<ui-braintree-payment-method payment-method="subscription.defaultPaymentMethod"></ui-braintree-payment-method>

						<hr class="Divider--dotted">
						<h4 class="Panel-bodyHeading Heading--four" ui-toggle toggle-el-css-class="js-transactionHistory">Transaction history</h4>

						<div class="Panel js-transactionHistory" ng-repeat="transaction in subscription.transactions">
							<div class="Panel-body Panel-body--highlight">
								{{ transaction.createdAt | date: longDate }}
								${{ transaction.amount }}
								<hr class="divider--dotted">
								<h5 class="Heading--five">Status history</h5>
								<div ng-repeat="statusHistoryItem in transaction.statusHistory">
									{{ statusHistoryItem.timestamp | date: longDate }}
									/ {{ statusHistoryItem.status }}
								</div>
							</div>

						</div>
						<hr class="Divider">
					</div>
				</div>
			</section>

			<section class="Panel">
				<h3 class="Panel-heading Heading--three">Other Saved Payment methods</h3>
				<div class="Panel-body">
					<div ng-repeat="paymentMethod in subscription.storedPaymentMethods">
						<ui-braintree-payment-method payment-method="paymentMethod"></ui-braintree-payment-method>
						<hr class="Divider--dotted">
					</div>

					<h4 class="Panel-bodyHeading Heading--four"><i class="fa fa-cc-paypal"></i> Paypal accounts</h4>
					<div ng-repeat="paypalAccount in $ctrl.customer.paypalAccounts">
						<ui-braintree-payment-method payment-method="paypalAccount"></ui-braintree-payment-method>
						<hr class="Divider--dotted">
					</div>
				</div>
			</section>

		</div>
	</div>
</div>
