<h2 class="Heading--two">Customer details</h2>
<hr class="Divider--dotted">
<section class="Alert Alert--{{ $ctrl.state.message.type }}" ng-if="$ctrl.state.message.text">
	<p>
		<i class="Alert-icon fa fa-warning fa-lg"></i>
		<span ng-bind="$ctrl.state.message.text"></span>
	</p>
	<span ng-bind-html="$ctrl.state.message.descriptionHtml"></span>
</section>

<ui-loading-icon size="'4x'" icon-modifier="'circle-o-notch'" visible="$ctrl.state.loading.isLoading" text="$ctrl.state.loading.text"></ui-loading-icon>

<section ng-if="$ctrl.customer" ng-hide="$ctrl.state.loading.isLoading || !$ctrl.state.showDetailsPanel">
	<!-- Profile -->
	<div class="Grid-row">
		<div class="Grid-col--12">

			<section class="Panel">
				<h3 class="Panel-heading Heading--three">Profile</h3>
				<div class="Panel-body">
					<div class="Form-item">
						<label class="Form-itemLabel">Full name</label>
						<span ng-bind="$ctrl.customer.firstName"></span> <span ng-bind="$ctrl.customer.lastName"></span>
					</div>
					<div class="Form-item">
						<label class="Form-itemLabel">Email</label>
						<span ng-bind="$ctrl.customer.email"></span>
					</div>
				</div>
			</section>

		</div>
	</div>

	<!-- Subscriptions & Payment methods -->
	<div class="Grid-row">

		<div class="Grid-col--12">
			<section class="Panel" ng-if="$ctrl.customer.subscriptions">
				<h3 class="Panel-heading Heading--three">{{ ($ctrl.customer.subscriptions[1] !== undefined) ? 'Subscriptions' : 'Subscription' }}</h3>

				<div class="Panel-body">
					<div ng-repeat="subscription in $ctrl.customer.subscriptions | toArray: true | orderBy: ['-updatedAt']">
						<div class="Grid-row">
							<div class="Grid-col--6">
								<ui-braintree-subscription-details subscription="subscription"></ui-braintree-subscription-details>

								<button type="button" class="Button Button--primary" ng-click="$ctrl.getAllPlans(); showEditPlanModal = !showEditPlanModal" ng-show="subscription.status.toLowerCase() === 'active'">Edit Plan</button>
								<span ng-if="subscription.status.toLowerCase() === 'active'">|</span>
								<a href="" ng-if="subscription.status.toLowerCase() === 'active' && subscription.price > 0" ng-click="$ctrl.disableAutoRenew(subscription)">Disable Auto Renew</a>
								<a href="" ng-if="subscription.status.toLowerCase() === 'active' && subscription.price <= 0" ng-click="$ctrl.enableAutoRenew(subscription)">Enable Auto Renew</a>
								<a href="" ng-if="subscription.status.toLowerCase() === 'pending'" ng-click="$ctrl.cancelSubscription(subscription)">Cancel subscription</a>
							</div>
							<div class="Grid-col--6">
								<h4 class="Heading--four">Payment method</h4>
								<ui-braintree-payment-method payment-method="subscription.defaultPaymentMethod"></ui-braintree-payment-method>
								<button class="Button Button--primary" ng-click="showEditPaymentMethodsModal = !showEditPaymentMethodsModal">Change Payment Method</button>
							</div>
						</div>

						<!-- Edit plan -->
						<ui-modal modal-id="'editPlanModal'" modal-visible="showEditPlanModal" modal-max-width="'800px'">
							<modal-body>
								<section class="Panel">
									<h4 class="Heading--four">Edit subscription plan</h4>
									<hr class="Divider--dotted">
									<ui-loading-icon size="'4x'" icon-modifier="'circle-o-notch'" visible="$ctrl.state.plans.loading.isLoading" text="$ctrl.state.plans.loading.text"></ui-loading-icon>
									<div class="Panel-body Panel-body--highlight">

										<div ng-repeat="plan in $ctrl.plans" ng-if="$ctrl.plans.length">
											<ui-braintree-subscription-plan subscription-plan="plan" on-choose="$ctrl.changeSubscriptionPlan(subscriptionPlanModel, subscription)"></ui-braintree-subscription-plan>
											<hr class="Divider--dotted">
										</div>
									</div>
								</section>
							</modal-body>
						</ui-modal>

						<!-- Edit payment method -->
						<ui-modal modal-id="'changePaymentMethodModal'" modal-visible="showEditPaymentMethodsModal" modal-max-width="'800px'">
							<modal-body>

								<section class="Panel">
									<h4 class="Heading--four">Edit payment method</h4>
									<hr class="Divider--dotted">
									<div class="Panel-body Panel-body--highlight">

										<div ng-if="$ctrl.customer.paymentMethods['0']">
											<h5 class="Heading--five">Your stored payment methods</h5>
											<hr class="Divider--dotted">

											<div class="Grid-row">
												<div class="CustomerDetails-paymentMethodColumn Grid-col--4" ng-repeat="paymentMethod in $ctrl.customer.paymentMethods" ng-class="{'is-default' : paymentMethod.token === subscription.defaultPaymentMethod.token}">
													<ui-braintree-payment-method
														payment-method="paymentMethod"
														button-disabled="paymentMethod.token === subscription.defaultPaymentMethod.token"
														button-disabled-text="'Default payment method'"
														card-button-text="'Choose card'"
														card-button-visible="true"
														delete-link-text="'Delete'"
														delete-link-visible="paymentMethod.token !== subscription.defaultPaymentMethod.token"
														paypal-button-text="'Choose paypal'"
														paypal-button-visible="true"
														on-card-button-click="$ctrl.changePaymentMethodForSubscription(paymentMethod, subscription)"
														on-delete-click="$ctrl.deletePaymentMethod(paymentMethod)"
														on-paypal-button-click="$ctrl.changePaymentMethodForSubscription(paymentMethod, subscription)">
													</ui-braintree-payment-method>
												</div>
											</div>
										</div>

										<hr class="Divider--dotted">
										<h5 class="Heading--five">Add a new payment method</h5>

										<div class="Grid-row">
											<div class="Grid-col--6">
												<h2 class="Heading--six">Credit or Debit Card</h2>
												<ui-braintree-creditcard-form
													on-submit="$ctrl.addCreditCard(paymentModel, subscription)"
													back-button-visible="false"
													submit-button-text="'Save and choose card'"
													hide-amount="true"></ui-braintree-creditcard-form>
											</div>
											<div class="Grid-col--6">
												<h2 class="Heading--six">Paypal</h2>
												<braintree-paypal-button button-text="'Connect with Paypal...'" on-finish="$ctrl.addPaymentMethod(paymentModel, subscription)"></braintree-paypal-button>
											</div>
										</div>
									</div>
								</section>

							</modal-body>
						</ui-modal>


						<!-- Transaction history -->
						<hr class="Divider--dotted">
						<h4 class="Panel-bodyHeading Heading--four"
						    ui-toggle
						    toggle-el-css-class="js-transactionHistory"
						    toggle-icon-css-class="js-toggleIcon"
						    toggle-icon-css-class-hide="fa-chevron-down"
						    toggle-icon-css-class-show="fa-chevron-right">
							<i class="fa fa-chevron-right js-toggleIcon"></i> Transaction history</h4>

						<div class="js-transactionHistory" hidden>
							<div class="Panel">
								<div class="Panel-body Panel-body--highlight" ng-repeat="transaction in subscription.transactions">
									<header class="HeadingGroup">
										<h5 class="Heading--seven HeadingGroup-heading--top">
											<time>{{ transaction.createdAt | date: longDate }}</time>
										</h5>
										<h5 class="Heading--five u-textSuccess HeadingGroup-heading--main">${{ transaction.amount }}
											<small class="u-textBase" ng-if="transaction.discounts.length">(Upgrade credit:
												<span ng-repeat="discount in transaction.discounts" class="u-textSuccess">${{ discount.amount }}</span>)
											</small>
										</h5>
									</header>
									<hr class="Divider--dotted">
									<h5 class="Heading--five">Status history</h5>
									<div ng-repeat="statusHistoryItem in transaction.statusHistory">
										{{ statusHistoryItem.timestamp | date: longDate }}
										/ {{ statusHistoryItem.status }}
									</div>
									<hr class="Divider">
								</div>
								<div class="Panel-body Panel-body--highlight" ng-if="!subscription.transactions.length">
									<h4 class="Heading--five">No transactions were found.</h4>
								</div>
							</div>

						</div>
						<hr class="Divider">
					</div>
				</div>
			</section>

		</div>
	</div>

</section>
