<h2 class="Heading--two">Customer details</h2>
<hr class="Divider--dotted">
<section class="Alert Alert--{{ $ctrl.state.message.type }}" ng-if="$ctrl.state.message.text">
	<p>
		<i class="Alert-icon fa fa-warning fa-lg"></i>
		<span ng-bind="$ctrl.state.message.text"></span>
	</p>
</section>

<ui-loading-icon size="'4x'" icon-modifier="'circle-o-notch'" visible="$ctrl.state.loading.isLoading" text="$ctrl.state.loading.text"></ui-loading-icon>

<section ng-if="$ctrl.customer" ng-hide="$ctrl.state.loading.isLoading || !$ctrl.state.showDetailsPanel">
	<!-- Profile -->
	<div class="Grid-row">
		<div class="Grid-col--12">

			<section class="Panel">
				<h3 class="Panel-heading Heading--three">Profile</h3>
				<div class="Panel-body">
					<div class="Form-item">
						<label class="Form-itemLabel">Full name</label>
						<span ng-bind="$ctrl.customer.firstName"></span> <span ng-bind="$ctrl.customer.lastName"></span>
					</div>
					<div class="Form-item">
						<label class="Form-itemLabel">Email</label>
						<span ng-bind="$ctrl.customer.email"></span>
					</div>
				</div>
			</section>

		</div>
	</div>

	<!-- Subscriptions & Payment methods -->
	<div class="Grid-row">

		<div class="Grid-col--12">
			<section class="Panel" ng-if="$ctrl.customer.subscriptions">
				<h3 class="Panel-heading Heading--three">Subscriptions</h3>

				<ui-loading-icon size="'4x'" icon-modifier="'circle-o-notch'" visible="$ctrl.state.subscriptions.loading.isLoading" text="$ctrl.state.subscriptions.loading.text"></ui-loading-icon>

				<div class="Panel-body" ng-hide="$ctrl.state.subscriptions.loading.isLoading">
					<div ng-repeat="subscription in $ctrl.customer.subscriptions | toArray: true | orderBy: 'status'">
						<div class="Grid-row">
							<div class="Grid-col--6">
								<ui-braintree-subscription-details subscription="subscription"></ui-braintree-subscription-details>

								<button type="button" class="Button Button--primary" ng-link="[$ctrl.routes.editSubscriptionRoute]">Edit Plan</button>
								|
								<a href="" ng-if="subscription.status === 'Active' && subscription.price > 0" ng-click="$ctrl.disableAutoRenew(subscription)">Disable Auto Renew</a>
								<a href="" ng-if="subscription.status === 'Canceled' || subscription.price <= 0" ng-click="$ctrl.enableAutoRenew(subscription)">Enable Auto Renew</a>
							</div>
							<div class="Grid-col--6">
								<h4 class="Heading--four">Payment method</h4>
								<ui-braintree-payment-method payment-method="subscription.defaultPaymentMethod"></ui-braintree-payment-method>
								<button class="Button Button--primary" ng-click="$ctrl.togglePaymentMethodsForSubscription()">Change Payment Method</button>
								|
								<a href="" confirm-message="'Are you sure you want to delete this payment method? This will also cancel your subscription'" ui-confirm-click="$ctrl.deletePaymentMethod(subscription.defaultPaymentMethod)">Delete</a>
							</div>
						</div>

						<!-- Edit payment method -->
						<section class="Panel" ng-if="$ctrl.state.showEditPaymentMethodsPanel">
							<h4 class="Heading--four">Edit payment method</h4>
							<hr class="Divider--dotted">
							<div class="Panel-body Panel-body--highlight">

								<div ng-if="$ctrl.customer.paymentMethods['0']">
									<h5 class="Heading--five">Your stored payment methods</h5>
									<hr class="Divider--dotted">

									<div class="Grid-row">
										<div class="Grid-col--4" ng-repeat="paymentMethod in $ctrl.customer.paymentMethods">
											<ui-braintree-payment-method
												payment-method="paymentMethod"
												card-button-text="'Choose card'"
												card-button-visible="true"
												paypal-button-text="'Choose paypal'"
												paypal-button-visible="true"
												on-card-button-click="$ctrl.changePaymentMethodForSubscription(paymentMethod, subscription)"
												on-paypal-button-click="$ctrl.changePaymentMethodForSubscription(paymentMethod, subscription)"></ui-braintree-payment-method>
										</div>
									</div>
								</div>

								<hr class="Divider--dotted">
								<h5 class="Heading--five">Add a new payment method</h5>

								<div class="Grid-row">
									<div class="Grid-col--6">
										<h2 class="Heading--six">Credit or Debit Card</h2>
										<ui-braintree-creditcard-form
											on-submit="$ctrl.addCreditCard(paymentModel, subscription)"
											back-button-visible="false"
											submit-button-text="'Save and choose card'"
											hide-amount="true"></ui-braintree-creditcard-form>
									</div>
									<div class="Grid-col--6">
										<h2 class="Heading--six">Paypal</h2>
										<braintree-paypal-button button-text="'Connect with Paypal...'" on-finish="$ctrl.addPaymentMethod(paymentModel, subscription)"></braintree-paypal-button>
									</div>
								</div>

							</div>

						</section>

						<!-- Transaction history -->
						<hr class="Divider--dotted">
						<h4 class="Panel-bodyHeading Heading--four"
						    ui-toggle
						    toggle-el-css-class="js-transactionHistory"
						    toggle-icon-css-class="js-toggleIcon"
						    toggle-icon-css-class-hide="fa-chevron-down"
						    toggle-icon-css-class-show="fa-chevron-right">
							<i class="fa fa-chevron-right js-toggleIcon"></i> Transaction history</h4>

						<div class="js-transactionHistory" hidden>
							<div class="Panel" ng-repeat="transaction in subscription.transactions">
								<div class="Panel-body Panel-body--highlight">
									{{ transaction.createdAt | date: longDate }}
									${{ transaction.amount }}
									<hr class="divider--dotted">
									<h5 class="Heading--five">Status history</h5>
									<div ng-repeat="statusHistoryItem in transaction.statusHistory">
										{{ statusHistoryItem.timestamp | date: longDate }}
										/ {{ statusHistoryItem.status }}
									</div>
								</div>

							</div>
						</div>
						<hr class="Divider">
					</div>
				</div>
			</section>

			<section class="Panel">
				<h3 class="Panel-heading Heading--three"
				    ui-toggle
				    toggle-el-css-class="js-otherPaymentMethods"
				    toggle-icon-css-class="js-toggleIcon"
				    toggle-icon-css-class-hide="fa-chevron-down"
				    toggle-icon-css-class-show="fa-chevron-right">
					<i class="fa fa-chevron-right js-toggleIcon"></i> Saved Payment Methods</h3>
				<div class="Panel-body js-otherPaymentMethods" hidden>

					<h4 class="Panel-bodyHeading Heading--four"><i class="fa fa-credit-card"></i> Credit & debit cards
					</h4>
					<div ng-repeat="paymentMethod in $ctrl.customer.creditCards">
						<ui-braintree-payment-method payment-method="paymentMethod"></ui-braintree-payment-method>
						<hr class="Divider--dotted">
					</div>

					<h4 class="Panel-bodyHeading Heading--four"><i class="fa fa-cc-paypal"></i> Paypal accounts</h4>
					<div ng-repeat="paypalAccount in $ctrl.customer.paypalAccounts">
						<ui-braintree-payment-method payment-method="paypalAccount"></ui-braintree-payment-method>
						<hr class="Divider--dotted">
					</div>
				</div>
			</section>

		</div>
	</div>

</section>
