<section>
	<div ng-if="$ctrl.state.success">
		<h2 class="Heading--two" ng-if="$ctrl.state.success">Your subscription has been created!</h2>
		Go to <a href="" ng-click="$ctrl.routeTo('/billing-overview')">billing overview</a> for more details.
	</div>

	<section class="Alert Alert--{{ $ctrl.state.message.type }}" ng-if="$ctrl.state.message.text">
		<p>
			<i class="Alert-icon fa fa-warning fa-lg"></i>
			<span ng-bind="$ctrl.state.message.text"></span>
		</p>
		<span ng-bind-html="$ctrl.state.message.descriptionHtml"></span><br>

		<a href="" ng-click="$ctrl.routeTo($ctrl.state.message.link)" ng-if="$ctrl.state.message.linkText">{{ $ctrl.state.message.linkText }}</a>
	</section>
	<ui-loading-icon size="'4x'" icon-modifier="'circle-o-notch'" visible="$ctrl.state.loading.isLoading" text="$ctrl.state.loading.text"></ui-loading-icon>
</section>
