<section>
	<div ng-if="$ctrl.state.success">
		<h2 class="Heading--two" ng-if="$ctrl.state.success">{{ 'subscription.heading.SUBSCRIPTION_CREATED' | translate}}!</h2>
		{{ 'subscription.text.GO_TO' | translate }} <a href="" ng-click="$ctrl.routeTo('/billing-overview')">{{ 'subscription.text.BILLING_OVERVIEW' | translate }}</a> {{ 'subscription.text.FOR_MORE_DETAILS' | translate }}.
	</div>

	<ui-braintree-message-box message="$ctrl.state.message" on-route="$ctrl.routeTo(route)"></ui-braintree-message-box>
	<ui-loading-icon size="'4x'" icon-modifier="'circle-o-notch'" visible="$ctrl.state.loading.isLoading" text="$ctrl.state.loading.text"></ui-loading-icon>
</section>
