<section>
	<div ng-if="$ctrl.state.success">
		<h2 class="Heading--two" ng-if="$ctrl.state.success">Your subscription has been created!</h2>
		Go to <a href="" ng-click="$ctrl.routeTo('/billing-overview')">billing overview</a> for more details.
	</div>

	<ui-braintree-message-box message="$ctrl.state.message" on-route="$ctrl.routeTo(route)"></ui-braintree-message-box>
	<ui-loading-icon size="'4x'" icon-modifier="'circle-o-notch'" visible="$ctrl.state.loading.isLoading" text="$ctrl.state.loading.text"></ui-loading-icon>
</section>
