<section>
	<h2 class="Heading--two">Please fill out your card details</h2>
	<form name="payment" ng-submit="$ctrl.onSubmit({paymentModel: $ctrl.paymentModel})">
		<div class="Form-item" ng-if="!$ctrl.hideAmount">
			<label class="Form-itemLabel">Amount</label>
			<input type="text" class="Textbox" ng-model="$ctrl.paymentModel.amount" required />
		</div>

		<div class="Form-item">
			<label class="Form-itemLabel">Credit Card Number</label>
			<input type="text" class="Textbox" ng-model="$ctrl.paymentModel.creditCardNumber" required maxlength="16" />
		</div>

		<div class="Form-item">
			<label class="Form-itemLabel">Expiration Date</label>
			<input type="text" class="Textbox" ng-model="$ctrl.paymentModel.expirationDate" required maxlength="5" />
		</div>

		<div class="Form-item">
			<label class="Form-itemLabel">CVV</label>
			<input type="text" class="Textbox" ng-model="$ctrl.paymentModel.cvv" required maxlength="4" />
		</div>

		<button class="Button Button--primary" type="submit">{{ $ctrl.buttonText }}</button>
	</form>
</section>
