<section>
	<form name="payment" ng-submit="$ctrl.onSubmit({paymentModel: $ctrl.paymentModel})">
		<div class="Form-item" ng-if="$ctrl.merchantAccounts.length && !$ctrl.selectedMerchantAccount">
			<label class="Form-itemLabel">Currency</label>
			<label ng-repeat="merchantAccount in $ctrl.merchantAccounts">
				<input type="radio" name="merchantAccountId" ng-value="merchantAccount.id" ng-model="$ctrl.paymentModel.merchantAccountId" required>
				{{ merchantAccount.currencyIsoCode }}
			</label>
		</div>
		<div class="Form-item" ng-if="$ctrl.selectedMerchantAccount && !$ctrl.hideCurrency">
			<label class="Form-itemLabel">Currency</label>
			{{ $ctrl.selectedMerchantAccount.currencyIsoCode }}
		</div>

		<div class="Form-item" ng-if="!$ctrl.hideAmount">
			<label class="Form-itemLabel">Amount<br>
				<input type="text" class="Textbox" ng-model="$ctrl.paymentModel.amount" size="8" ng-required="true" />
			</label>
		</div>

		<div class="Form-item">
			<label class="Form-itemLabel">Card Number<br>
			<input type="text"
			       style="width: 190px"
			       class="Textbox"
			       ng-model="$ctrl.paymentModel.creditCardNumber"
			       size="20"
			       payments-validate="card"
			       payments-type-model="$ctrl.type"
			       payments-format="card"
			       payments-length="card"
			       ng-class="$ctrl.type"
			       ng-required="true"
			        />
			</label>
		</div>

		<div class="Form-item">
			<label class="Form-itemLabel">Expiration Date<br>
			<input type="text" class="Textbox"
			       ng-model="$ctrl.paymentModel.expirationDate"
			       payments-validate="expiry"
			       payments-format="expiry"
			       size="8"
			       ng-required="true"
			        />
			</label>
		</div>

		<div class="Form-item">
			<label class="Form-itemLabel">CVV<br>
			<input type="text"
			       class="Textbox"
			       ng-model="$ctrl.paymentModel.cvv"
			       payments-validate="cvc"
			       payments-type-model="$ctrl.type"
			       payments-format="cvc"
			       size="4"
			       ng-required="true"
			        />
			</label>
		</div>


		<button class="Button Button--primary" type="submit">{{ $ctrl.submitButtonText }}</button>
		<span ng-if="$ctrl.backButtonVisible">
			| <a href="" ng-click="$ctrl.routeTo({route: $ctrl.backButtonRoute})">{{ $ctrl.backButtonText }}</a>
		</span>
	</form>
</section>
