<section>
	<form name="payment" ng-submit="$ctrl.onSubmit({paymentModel: $ctrl.paymentModel})">
		<div class="Form-item" ng-if="!$ctrl.hideAmount">
			<label class="Form-itemLabel">Amount</label>
			<input type="text" class="Textbox" ng-model="$ctrl.paymentModel.amount" size="8" ng-required="true" />
		</div>

		<div class="Form-item">
			<label class="Form-itemLabel">Card Number</label>
			<input type="text"
			       style="width: 190px"
			       class="Textbox"
			       ng-model="$ctrl.paymentModel.creditCardNumber"
			       size="20"
			       payments-validate="card"
			       payments-type-model="$ctrl.type"
			       payments-format="card"
			       payments-length="card"
			       ng-class="$ctrl.type"
			       ng-required="true"
			        />
		</div>

		<div class="Form-item">
			<label class="Form-itemLabel">Expiration Date</label>
			<input type="text" class="Textbox"
			       ng-model="$ctrl.paymentModel.expirationDate"
			       payments-validate="expiry"
			       payments-format="expiry"
			       size="8"
			       ng-required="true"
			        />
		</div>

		<div class="Form-item">
			<label class="Form-itemLabel">CVV</label>
			<input type="text"
			       class="Textbox"
			       ng-model="$ctrl.paymentModel.cvv"
			       payments-validate="cvc"
			       payments-type-model="$ctrl.type"
			       payments-format="cvc"
			       size="4"
			       ng-required="true"
			        />
		</div>

		<button class="Button Button--primary" type="submit">{{ $ctrl.submitButtonText }}</button>
		<span ng-if="$ctrl.backButtonVisible">
			| <a ng-link="[$ctrl.backButtonRoute]">{{ $ctrl.backButtonText }}</a>
		</span>
	</form>
</section>
