<ui-braintree-subscription-progress
	subscription-plan="$ctrl.selectedSubscription"
	subscription-route="$ctrl.routes.subscription"
	route-to="$ctrl.routeTo(route)">
</ui-braintree-subscription-progress>
<ui-braintree-subscription-navigation
	route-to="$ctrl.routeTo(route)"
	selected-route="'/customer'"
	ng-if="$ctrl.state.mode.subscription">
</ui-braintree-subscription-navigation>


<p ng-if="$ctrl.state.message.text" ng-bind="$ctrl.state.message.text"></p>
<a href="" ng-click="$ctrl.routeTo($ctrl.state.message.link)" ng-if="$ctrl.state.message.linkText">{{ $ctrl.state.message.linkText }}</a>

<ui-loading-icon size="'4x'" icon-modifier="'circle-o-notch'" visible="$ctrl.state.loading.isLoading" text="$ctrl.state.loading.text"></ui-loading-icon>

<section class="Panel" ng-hide="$ctrl.state.loading.isLoading">
	<div class="Panel-body">
		<h2 class="Heading--two Heading--light u-textCenter">Fill out your contact information</h2>
		<hr class="Divider--dotted">

		<ui-braintree-customer-form
			customer-model="$ctrl.customerModel"
			on-submit="$ctrl.saveCustomer(customerModel)"
			submit-button-text="$ctrl.state.submitButtonText"
			back-button-text="$ctrl.state.backButtonText"
			back-button-route="$ctrl.state.backButtonRoute"
			back-button-visible="$ctrl.state.backButtonVisible"
			route-to="$ctrl.routeTo(route)"
			ng-hide="$ctrl.state.loading.isLoading || !$ctrl.state.showForm"></ui-braintree-customer-form>
	</div>
</section>
