<ui-braintree-subscription-progress subscription-plan="$ctrl.customer.subscriptionPlan" subscription-route="$ctrl.routes.subscription"></ui-braintree-subscription-progress>

<p ng-if="$ctrl.state.message.text" ng-bind="$ctrl.state.message.text"></p>
<a ng-href="{{ $ctrl.state.message.link }}" ng-if="$ctrl.state.message.linkText">{{ $ctrl.state.message.linkText }}</a>

<ui-loading-icon size="'4x'" icon-modifier="'circle-o-notch'" visible="$ctrl.state.loading.isLoading" text="$ctrl.state.loading.text"></ui-loading-icon>
<ui-braintree-customer-form
	customer-model="$ctrl.customerModel"
	on-submit="$ctrl.saveCustomer(customerModel)"
	submit-button-text="$ctrl.state.submitButtonText"
	back-button-text="$ctrl.state.backButtonText"
	back-button-route="$ctrl.state.backButtonRoute"
	back-button-visible="$ctrl.state.backButtonVisible"
	ng-hide="$ctrl.state.loading.isLoading || !$ctrl.state.showForm"></ui-braintree-customer-form>
