<div ng-if="$ctrl.paymentMethod.cardType">
	<!-- Card -->
	<div class="Form-item">
		<label class="Form-itemLabel" translate="payment.label.PAYMENT_TYPE"></label>
		<i class="fa fa-credit-card"></i> <span ng-bind="$ctrl.paymentMethod.cardType"></span>
		<span ng-if="$ctrl.paymentMethod.debit === 'Yes'" translate="payment.label.DEBIT_CARD"></span>
		<span ng-if="$ctrl.paymentMethod.prepaid === 'Yes'">({{ 'payment.label.PREPAID_CARD' }})</span>
	</div>
	<div class="Form-item">
		<label class="Form-itemLabel" translate="payment.label.CARD_NUMBER"></label>
		<span ng-bind="$ctrl.paymentMethod.maskedNumber"></span>
	</div>

	<div class="Form-item">
		<label class="Form-itemLabel" translate="payment.label.CARD_EXPIRATION_DATE"></label>
		<span ng-bind="$ctrl.paymentMethod.expirationDate | date:'MM / y'"></span>
	</div>

	<div class="Form-item">
		<label class="Form-itemLabel" translate="payment.label.CARD_EXPIRED"></label>
		<span ng-bind="$ctrl.paymentMethod.expired"></span>
	</div>

	<button class="Button Button--primary"
	        ng-if="$ctrl.cardButtonVisible"
	        ng-disabled="$ctrl.buttonDisabled"
	        ng-click="$ctrl.onCardButtonClick({paymentMethod: $ctrl.paymentMethod})">
		{{ ($ctrl.buttonDisabled) ? $ctrl.buttonDisabledText : $ctrl.cardButtonText }}
	</button>
	<a href=""
	   ng-if="$ctrl.deleteLinkVisible"
	   confirm-message="{{ 'payment.button.DELETE_PAYMENT_METHOD_CONFIRM' | translate }}"
	   ui-confirm-click="$ctrl.onDeleteClick({paymentMethod: $ctrl.paymentMethod})">{{ $ctrl.deleteLinkText }}</a>
</div>

<div ng-if="$ctrl.paymentMethod.billingAgreementId">
	<!-- Paypal -->
	<div class="Form-item">
		<label class="Form-itemLabel" translate="payment.label.PAYMENT_TYPE"></label>
		<i class="fa fa-cc-paypal"></i> Paypal
	</div>
	<div class="Form-item">
		<label class="Form-itemLabel" translate="payment.label.PAYPAL_EMAIL"></label>
		<span ng-bind="$ctrl.paymentMethod.email"></span>
	</div>

	<button class="Button Button--primary"
	        ng-if="$ctrl.paypalButtonVisible"
	        ng-disabled="$ctrl.buttonDisabled"
	        ng-click="$ctrl.onPaypalButtonClick({paymentMethod: $ctrl.paymentMethod})">
		{{ ($ctrl.buttonDisabled) ? $ctrl.buttonDisabledText : $ctrl.paypalButtonText }}
	</button>
	<a href=""
	   ng-if="$ctrl.deleteLinkVisible"
	   confirm-message="{{ 'payment.button.DELETE_PAYMENT_METHOD_CONFIRM' | translate }}"
	   ui-confirm-click="$ctrl.onDeleteClick({paymentMethod: $ctrl.paymentMethod})">{{ $ctrl.deleteLinkText }}</a>
</div>
