<h2 class="Heading--two">Subscribe</h2>
<hr class="Divider--dotted">

<p ng-if="$ctrl.message" ng-bind="$ctrl.message"></p>

<ui-loading-icon size="'4x'" icon-modifier="'circle-o-notch'" visible="$ctrl.state.loading" text="$ctrl.loadingText"></ui-loading-icon>

<div ng-repeat="plan in $ctrl.plans" ng-if="$ctrl.state.showPlans && $ctrl.plans.length">
	<ui-braintree-subscription-plan subscription-plan="plan" on-choose="$ctrl.chooseSubscriptionPlan(subscriptionPlanModel)" ng-hide="$ctrl.state.loading"></ui-braintree-subscription-plan>
	<hr class="Divider--dotted">
</div>

<ui-braintree-customer-form on-submit="$ctrl.createCustomer(customerModel)" button-text="'Continue'" ng-if="$ctrl.state.showCustomerForm" ng-hide="$ctrl.state.loading"></ui-braintree-customer-form>

<ui-braintree-creditcard-form on-submit="$ctrl.createVaultedPayment(paymentModel)" button-text="'Continue'" hide-amount="true" ng-if="$ctrl.state.showCreditCardForm" ng-hide="$ctrl.state.loading"></ui-braintree-creditcard-form>

<section ng-if="$ctrl.state.showConfirmPanel" ng-hide="$ctrl.state.loading">
	<h2>Verify subscription</h2>
	<ui-braintree-subscription-overview subscription-plan="$ctrl.selectedSubscriptionPlan"></ui-braintree-subscription-overview>
	<button class="Button Button--success Button--lg" ng-click="$ctrl.confirmSubscription()">Confirm subscription</button>
</section>
